<%- include('../partials/head') %>
<h2 class="add-category__title">New Category</h2>
<form
  class="add-category-form"
  action="/categories/add-category"
  method="post"
>
  <fieldset class="add-category-form__fieldset">
    <legend class="add-category-form__legend">Main information</legend>
    <label class="add-category-form__label">
      <span class="add-category-form__label-text">Name:</span>
      <input class="add-category-form__input" type="text" name="name" required />
    </label>
    <label class="add-category-form__label">
      <span class="add-category-form__label-text">Description:</span>
      <textarea class="add-category-form__input" name="description" rows="4"></textarea>
    </label>
  </fieldset>
  <fieldset class="add-category-form__fieldset">
    <legend class="add-category-form__legend">Image</legend>
    <label class="add-category-form__label">
      <span class="add-category-form__label-text">Enter a URL:</span>
      <input class="add-category-form__input" type="url" name="image-url" />
    </label>
  </fieldset>
  <button class="add-category-form__submit-button" type="submit">Submit</button>
</form>
<%- include('../partials/footer') %>