<%- include('../partials/head') %>
<h2 class="add-item__title">New Item</h2>
<form
  class="add-item-form"
  action="/items/add-item"
  method="post"
>
  <fieldset class="add-item-form__fieldset">
    <legend class="add-item-form__legend">Main information</legend>
    <label class="add-item-form__label">
      <span class="add-item-form__label-text">Name:</span>
      <input class="add-item-form__input" type="text" name="name" required />
    </label>
    <label class="add-item-form__label">
      <span class="add-item-form__label-text">Description:</span>
      <textarea class="add-item-form__input" name="description" rows="4"></textarea>
    </label>
    <label class="add-item-form__label">
      <span class="add-item-form__label-text">Price:</span>
      <input class="add-item-form__input" type="number" name="description" min="0" step="0.01" required />
    </label>
  </fieldset>
  <fieldset class="add-item-form__fieldset">
    <legend class="add-item-form__legend">Image</legend>
    <label class="add-item-form__label">
      <span class="add-item-form__label-text">Enter a URL:</span>
      <input class="add-item-form__input" type="url" name="image-url" />
    </label>
  </fieldset>
  <button class="add-item-form__submit-button" type="submit">Submit</button>
</form>
<%- include('../partials/footer') %>