<%- include('../partials/head') %>
  <div class="index-navigation-wrapper">
    <ul class="index-navigation-list">
      <li class="index-navigation-list-item">
        <a class="index-navigation-link" href="/categories">Explore categories</a>
      </li>
      <li class="index-navigation-list-item">
        <a class="index-navigation-link" href="/items">Explore items</a>
      </li>
    </ul>
  </div>
<%- include('../partials/footer') %>