<%- include('../partials/head') %>
  <div class="items-header">
    <h2 class="all-items-title">All Items</h2>
  </div>
  <div class="items-body">
    <% if (!items.length) { %>
      The list is empty... 
    <% } else { %>
      <% items.forEach((item) => { %>
        <%- include('../partials/item-preview', {id: item.id, name: item.name, price: item.price, image: item.image}) %>
      <% }); %>
    <% } %>
  </div>
<%- include('../partials/footer') %>