*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

table {
  border-collapse: collapse;
}

ul,
ul li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.header {
  flex-grow: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #ececec;
}

.header__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 1220px;
  width: 100%;
}

.header__title {
  color: #0066ff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.header__control-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  position: relative;

  margin-left: auto;
  margin-right: auto;
  max-width: 1220px;
  width: 100%;
}

.index-navigation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  padding: 1rem;
}

.index-navigation__title {
  color: #464853;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.index-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.index-navigation-list-item {
  background-color: #0066ff;
  border-radius: 0.25rem;
  color: #ffffff;
  font-weight: 500;
  transition: background-color 0.15s ease-in-out;

  border: none;
  height: 3rem;
  width: 20ch;
}

.index-navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.categories-header,
.items-header,
.category-header {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 1rem;
}

.all-categories-title,
.all-items-title,
.category-title,
.item-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.add-category-link,
.add-item-link {
  border-radius: 0.25rem;
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    color 0.15s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #464853;

  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 15ch;
}

.add-category-form__submit-button,
.add-item-form__submit-button,
.update-category-link,
.update-item-link,
.cancel-button,
.update-category-form__submit-button,
.update-category-form__cancel-link,
.update-item-form__submit-button,
.update-item-form__cancel-link {
  background-color: #0066ff;
  border-radius: 0.25rem;
  color: #ffffff;
  font-weight: 500;
  transition: background-color 0.15s ease-in-out;

  display: inline-block;

  border: none;
  padding: 0.5rem 1rem;
}

.delete-button {
  background-color: #db0400;
  border-radius: 0.25rem;
  color: #ffffff;
  font-weight: 500;
  transition: background-color 0.15s ease-in-out;

  display: inline-block;

  border: none;
  padding: 0.5rem 1rem;
}

.confirm-deletion-form {
  background-color: #ffffff;
  border-radius: 0.25rem;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: fixed;
  left: 50%;
  top: 50%;

  border: 1px solid #b1b0b5;
  padding: 1rem;
}

.confirm-deletion-form__label {
  font-weight: 500;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.confirm-deletion-form__input {
  appearance: none;
  border-radius: 0.25rem;

  border: 1px solid #b1b0b5;
  padding: 0.1rem 0.25rem;
}

.confirm-deletion-form__buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.categories-body,
.items-body {
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  gap: 1rem;
  align-content: start;
  justify-content: center;

  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 1rem;
}

.category-preview,
.item-preview {
  border-radius: 0.25rem;
  overflow: hidden;
  transition: border-color 0.15s ease-in-out;

  display: flex;
  flex-direction: column;

  border: 1px solid #ececec;
}

.category-preview__image,
.item-preview__image {
  object-fit: cover;
  height: 220px;
}

.category-preview__svg-wrapper,
.item-preview__svg-wrapper {
  background-color: #b1b0b575;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 220px;
}

.category-preview__no-image-svg,
.item-preview__no-image-svg {
  fill: #464853;

  height: 30%;
  width: 30%;
}

.category-preview__description-wrapper,
.item-preview__description-wrapper {
  padding: 0.5rem;
}

.category-preview__name,
.item-preview__name {
  font-weight: 500;
}

.item-preview__price,
.item__price {
  color: #464853;
  font-size: 0.95rem;
}

.add-category__title,
.add-item__title,
.update-category__title,
.update-item__title {
  font-size: 1.3rem;
  font-weight: 500;

  align-self: center;
  padding: 1rem;
}

.add-category-form,
.add-item-form,
.update-category-form,
.update-item-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 1rem;
}

.add-category-form__fieldset,
.add-item-form__fieldset,
.update-category-form__fieldset,
.update-item-form__fieldset {
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 1px solid #b1b0b5;
  padding: 1rem;
}

.add-category-form__legend,
.add-item-form__legend,
.update-category-form__legend,
.update-item-form__legend {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.add-category-form__label,
.add-item-form__label,
.update-category-form__label,
.update-item-form__label {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.add-category-form__label-text,
.add-item-form__label-text,
.update-category-form__label-text,
.update-item-form__label-text {
  font-weight: 500;
}

.add-category-form__input,
.add-item-form__input,
.update-category-form__input,
.update-item-form__input {
  appearance: none;
  border-radius: 0.25rem;

  border: 1px solid #b1b0b5;
  padding: 0.1rem 0.25rem;
  min-width: 30ch;
}

.add-category-form__submit-button,
.add-item-form__submit-button {
  appearance: none;
  align-self: flex-start;
}

.add-item-form__choose-category-label,
.update-item-form__choose-category-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.category-body__wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 1rem;
}

.category-body__title {
  font-size: 1.2rem;
  font-weight: 500;
}

.category__controls-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.category-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  gap: 1rem;
  align-content: start;
  justify-content: center;
}

.item-wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  padding: 1rem;
}

.item__image {
  height: 50vh;
}

.item__description {
  align-self: flex-start;

  max-width: 80ch;
}

.item__controls-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.update-category-form__buttons-wrapper,
.update-item-form__buttons-wrapper {
  align-self: flex-start;
  display: flex;
  gap: 1rem;
}

.confirm-deletion-form__validation-error {
  color: #db0400;
}

.hidden {
  display: none;
}

@media (hover: hover) {
  .index-navigation-list-item:hover {
    background-color: #005ce6;
  }

  .add-category-link:hover,
  .add-item-link:hover {
    background-color: #0066ff;
    border-color: #0066ff;
    color: #ffffff;
  }

  .add-category-form__submit-button:hover,
  .add-item-form__submit-button:hover,
  .update-category-link:hover,
  .update-item-link:hover,
  .cancel-button:hover,
  .update-category-form__submit-button:hover,
  .update-category-form__cancel-link:hover,
  .update-item-form__submit-button:hover,
  .update-item-form__cancel-link:hover {
    background-color: #005ce6;
  }

  .delete-button:hover {
    background-color: #bf0603;
  }

  .category-preview:hover,
  .item-preview:hover {
    border-color: #b1b0b5;
  }
}

@media screen and (max-width: 1220px) {
  .categories-header {
    border-left: none;
    border-right: none;
  }

  .categories-body {
    border-left: none;
    border-right: none;
  }
}

@media screen and (max-width: 640px) {
  .header__content-wrapper {
    justify-content: center;
  }
}
